/*
Error: Invalid CSS after "...color: rgba(0, ": expected function argument, was ",0, 0, 0.5);"
        on line 320 of /Users/opsone/Documents/Gobelins/portfolio/src/css/app.scss

315: .work-nav__link--next {
316:     width: 65%;
317:     background-color: $yellow-color;
318:     background-position: center;
319:     color: #FFF;
320:     background-color: rgba(0, ,0, 0, 0.5);
321: 
322:     -webkit-background-size: cover;
323:        -moz-background-size: cover;
324:          -o-background-size: cover;
325:             background-size: cover;

Backtrace:
/Users/opsone/Documents/Gobelins/portfolio/src/css/app.scss:320
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:1163:in `expected'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/lexer.rb:220:in `expected!'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:572:in `assert_expr'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:486:in `block in arglist'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:460:in `loop'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:460:in `arglist'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:445:in `fn_arglist'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:407:in `funcall'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:387:in `ident'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:246:in `unary_not'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:246:in `unary_div'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:246:in `unary_minus'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:246:in `unary_plus'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:227:in `times_div_or_mod'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:227:in `plus_or_minus'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:227:in `relational'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:227:in `eq_or_neq'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:227:in `and_expr'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:227:in `or_expr'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:361:in `space'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:345:in `interpolation'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:293:in `expr'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:570:in `assert_expr'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/script/parser.rb:62:in `parse'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:1025:in `sass_script'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:878:in `value!'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:1139:in `call'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:1139:in `rethrow'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:661:in `block_child'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:642:in `block'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:660:in `block_child'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/scss/parser.rb:42:in `parse'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/engine.rb:393:in `_to_tree'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/engine.rb:268:in `render'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/opsone/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/opsone/.rbenv/versions/2.1.2/bin/compass:23:in `load'
/Users/opsone/.rbenv/versions/2.1.2/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...color: rgba(0, \": expected function argument, was \",0, 0, 0.5);\"\A         on line 320 of /Users/opsone/Documents/Gobelins/portfolio/src/css/app.scss\A \A 315: .work-nav__link--next {\A 316:     width: 65%;\A 317:     background-color: $yellow-color;\A 318:     background-position: center;\A 319:     color: #FFF;\A 320:     background-color: rgba(0, ,0, 0, 0.5);\A 321: \A 322:     -webkit-background-size: cover;\A 323:        -moz-background-size: cover;\A 324:          -o-background-size: cover;\A 325:             background-size: cover;"; }
