html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'yanone-light';
  src: url("../fonts/yanone/yanonekaffeesatz-light-webfont.eot");
  src: url("../fonts/yanone/yanonekaffeesatz-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yanone/yanonekaffeesatz-light-webfont.woff2") format("woff2"), url("../fonts/yanone/yanonekaffeesatz-light-webfont.woff") format("woff"), url("../fonts/yanone/yanonekaffeesatz-light-webfont.ttf") format("truetype"), url("../fonts/yanone/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yanone';
  src: url("../fonts/yanone/yanonekaffeesatz-regular-webfont.eot");
  src: url("../fonts/yanone/yanonekaffeesatz-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/yanone/yanonekaffeesatz-regular-webfont.woff2") format("woff2"), url("../fonts/yanone/yanonekaffeesatz-regular-webfont.woff") format("woff"), url("../fonts/yanone/yanonekaffeesatz-regular-webfont.ttf") format("truetype"), url("../fonts/yanone/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jennasue';
  src: url("../fonts/jenna/jennasue-webfont.eot");
  src: url("../fonts/jenna/jennasue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jenna/jennasue-webfont.woff2") format("woff2"), url("../fonts/jenna/jennasue-webfont.woff") format("woff"), url("../fonts/jenna/jennasue-webfont.ttf") format("truetype"), url("../fonts/jenna/jennasue-webfont.svg#jenna_sueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sunn';
  src: url("../fonts/sunn/sunn-webfont.eot");
  src: url("../fonts/sunn/sunn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sunn/sunn-webfont.woff2") format("woff2"), url("../fonts/sunn/sunn-webfont.woff") format("woff"), url("../fonts/sunn/sunn-webfont.ttf") format("truetype"), url("../fonts/sunn/sunn-webfont.svg#sunnregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wolf';
  src: url("../fonts/wolf/wolf_in_the_city-webfont.eot");
  src: url("../fonts/wolf/wolf_in_the_city-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/wolf/wolf_in_the_city-webfont.woff2") format("woff2"), url("../fonts/wolf/wolf_in_the_city-webfont.woff") format("woff"), url("../fonts/wolf/wolf_in_the_city-webfont.ttf") format("truetype"), url("../fonts/wolf/wolf_in_the_city-webfont.svg#wolf_in_the_cityregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.full-screen {
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.title-svg .title-svg__content {
  position: relative;
}
.title-svg svg {
  position: absolute;
  top: 0;
  left: -10px;
  overflow: visible;
}

/***********************
*         MENU         *
************************/
.menu {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 300;
  cursor: pointer;
}

.menu__link {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 2px;
  border: none;
  outline: 0;
  padding: 0;
  text-align: left;
  background-color: #FFF;
  -moz-transition: background 0s 0.3s;
  -o-transition: background 0s 0.3s;
  -webkit-transition: background 0s;
  -webkit-transition-delay: 0.3s;
  transition: background 0s 0.3s;
}

.menu__link::before, .menu__link::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  -moz-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -moz-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.menu__link::before {
  position: absolute;
  top: -6px;
  -moz-transition-property: top, -moz-transform;
  -o-transition-property: top, -o-transform;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.menu__link::after {
  position: absolute;
  bottom: -6px;
  -moz-transition-property: bottom, -moz-transform;
  -o-transition-property: bottom, -o-transform;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.menu--is-opened .menu__link {
  background: none;
}

.menu--is-opened .menu__link::before {
  top: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu--is-opened .menu__link::after {
  bottom: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu--is-opened .menu__link::before, .menu--is-opened .menu__link::after {
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

/***********************
*         HOME         *
************************/
section.home {
  background-color: #f0f1f5;
}

.skew {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  overflow: hidden;
  -webkit-clip-path: polygon(0% 65%, 0% 100%, 35% 100%, 100% 35%, 100% 0%, 65% 0%);
}

/* ------ LINKS ------ */
.home-link {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: none;
  outline: none;
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFF;
  background-color: #f5484a;
}
.home-link:hover {
  color: #f5484a;
  background-color: #FFF;
}
.home-link::after {
  content: '';
  display: inline-block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid #f5484a 2px;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: ease-out 0.4s all;
  -o-transition: ease-out 0.4s all;
  -webkit-transition: ease-out 0.4s all;
  transition: ease-out 0.4s all;
}

.home-link--clicked::after {
  opacity: 0;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  position: absolute;
  top: -8px;
  left: -8px;
}

.home-link__project {
  position: absolute;
  top: 100px;
  left: 100px;
}

.home-link__about {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

/* ------ TEXTS ------ */
.home-title {
  width: 100%;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  color: #333333;
  text-align: center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-title__hello {
  font-family: 'wolf', Arial, sans-serif;
  color: #f5484a;
  font-size: 160px;
}

.home-title__presentation {
  font-family: 'jennasue', Arial, sans-serif;
  font-size: 60px;
}

.home-title__name {
  font-family: 'sunn', Arial, sans-serif;
  font-size: 88px;
}

.home-title__job {
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 39px;
  text-transform: uppercase;
}

/***********************
*        WORKS         *
************************/
.works__container {
  position: relative;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.works__background {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.works__items {
  width: 35%;
  display: inline-block;
  position: absolute;
  top: 50%;
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.works__items li {
  padding-top: 20px;
}
.works__items li:first-child {
  padding-top: 0;
}

.works__link {
  display: inline-block;
  width: 100%;
  position: relative;
  color: #333333;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.works__link:hover {
  color: #1e1a1b;
}

.works__description {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 20px;
  opacity: 0;
  -moz-transform: translate3d(-50%, -10px, 0);
  -ms-transform: translate3d(-50%, -10px, 0);
  -webkit-transform: translate3d(-50%, -10px, 0);
  transform: translate3d(-50%, -10px, 0);
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.works__link:hover .works__description, .works__link--active .works__description {
  opacity: 1;
  -moz-transform: translate3d(-50%, 15px, 0);
  -ms-transform: translate3d(-50%, 15px, 0);
  -webkit-transform: translate3d(-50%, 15px, 0);
  transform: translate3d(-50%, 15px, 0);
}

/***********************
*         WORK         *
************************/
/* -------- TEXTS ------- */
.work__title {
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  color: #333333;
}

.work__main-subtitle {
  text-align: center;
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 20px;
}

.work__subtitle {
  padding: 40px 0 15px 0;
  font-family: 'yanone-light', Arial, sans-serif;
  font-size: 40px;
  color: #f5484a;
}

.work__text {
  line-height: 28px;
  margin: 0 auto;
  font-size: 16px;
}

/* -------- BLOCKS ------- */
.work__background {
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.work__content {
  padding: 50px 0;
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
}

.work__section {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto 40px auto;
  font-size: 0;
}

/* -------- DESCRIPTION ------- */
.work__description {
  margin: 40px 0 70px 0;
  padding: 40px 0;
  line-height: 25px;
  color: #FFF;
  background-color: #f5484a;
}

.work-description__content {
  max-width: 600px;
  margin: 0 auto;
  font-size: 0;
}

.work__description--left {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin-right: 10%;
  font-size: 16px;
}

.work__description--right {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  font-size: 16px;
}

.work-description__subtitle {
  padding-top: 5px;
  color: #333333;
  font-weight: bold;
}

/* -------- CONTENT ------- */
.work__content-text {
  width: 40%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.work__content-text--left {
  margin-right: 10%;
}

.work__content-text--right {
  margin-left: 10%;
}

/* -------- MEDIAS ------- */
.work__img {
  width: 50%;
  max-width: 450px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.work__img img {
  max-width: 100%;
}

.work__video {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.work__video--ipad-portrait {
  width: 397px;
  height: 571px;
  background-image: url(../images/ipad-air-portrait.png);
  background-position: top;
}
.work__video--ipad-portrait video {
  max-width: calc(100% - 52px);
  border: solid #888 1px;
  margin-top: 52px;
}

.work__video--ipad-landscape {
  width: 450px;
  height: 313px;
  background-image: url(../images/ipad-air-landscape.png);
  background-position: center;
}
.work__video--ipad-landscape video {
  max-width: calc(100% - 86px);
  margin-top: 15px;
  border: solid #888 1px;
}

.work__link {
  margin: 70px 0 20px 0;
  text-align: center;
}
.work__link a {
  padding: 15px;
  display: inline-block;
  color: #FFF;
  background-color: #f5484a;
}

/* -------- NAV ------- */
.work-nav {
  font-size: 0;
}

.work-nav__link {
  display: inline-block;
  height: 300px;
  line-height: 300px;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.work-nav__background {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.6;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.work-nav__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fead13;
}

.work-nav__link--back {
  width: 35%;
  background-color: #fff9ee;
  color: #fead13;
}

.work-nav__link--next {
  width: 65%;
  position: relative;
  overflow: hidden;
  vertical-align: bottom;
  background-color: #333333;
  background-position: center;
  color: #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/************************/
.red {
  color: #f5484a;
}

.blue {
  color: #21a5ad;
}

.yellow {
  color: #fead13;
}

body:not(.pace-done) > :not(.pace), body:not(.pace-done):before, body:not(.pace-done):after {
  opacity: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f0f1f5;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
}
