<section class="full-screen home">
    <div class="home__skew">
        <div class="home-title">
            <h2 class="home-title__hello">Hello !</h2>
            <p class="home-title__presentation">I'm</p>
            <h1 class="home-title__name">
                Katia Moreira
            </h1>
            <h3 class="home-title__job">Web developer</h3>
        </div>
        <svg class="full-screen" id="home-svg" home-svg></svg>
    </div>
    <button ng-click="clickedProjects=true; goTo('/works')" class="home-link home-link__project ng-class:{'home-link--clicked': clickedProjects}">My Projects</button>
    <button ng-click="clickedAbout=true; goTo('/about')" class="home-link home-link__about ng-class:{'home-link--clicked': clickedAbout}">About me</button>
</section>
