<section class="full-screen works">
    <ng-include src="'templates/_menu.html'"></ng-include>
    <div class="full-screen works__container">
        <ul class="works__items">
            <li ng-repeat="(identifier, work) in works">
                <a ng-href="#/works/{{ identifier }}" ng-mouseover="changeBackground(identifier)" class="works__link" ng-class="{'works__link--active': work.visible}">
                    {{ work.title }}
                    <span class="works__description {{ work.color }}">{{ work.subtitle }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div ng-repeat="work in works" ng-show="work.visible" class="full-screen works__background" style="background-image: url(../images/works/{{ work.image }})"></div>
</section>
