<section class="work">
    <div class="work__background" style="background-image: url(../images/works/{{ work.image }})"></div>
    <div class="work__content">
        <h1 class="work__title title-svg">
            <span class="title-svg__content">
                <svg id="title-svg" title-svg></svg>
                <span>{{ work.title }}</span>
            </span>
        </h1>
        <h2 class="work__main-subtitle {{ work.color }}">{{ work.subtitle }}</h2>
        <p class="work__text work__description">
            {{ work.description }}
        </p>
        <div class="work__video">
            <iframe src="https://player.vimeo.com/video/133366157" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <h3 class="work__subtitle">Purpose of the project</h3>
        <p class="work__text work__paragraph">
            Before going to bed, children are often afraid of leaving their parent’s side. Some tend to extend their bedtime as much as they can, usually by wanting to listen to another story, then another one, and this can go on for hours.
            We wanted to create a bedtime routine that combines two of the strongest existing solutions: the bedtime story and the nightlight.
        </p>
        <div class="work__showcase">
            <img src="../images/works/lantern-showcase1.jpg" alt="">
        </div>
        <h3 class="work__subtitle">Technologies</h3>
        <ul class="work__text work__list">
            <li>Objective-C</li>
            <li>Arduino</li>
        </ul>
        <h3 class="work__subtitle">Team</h3>
        <ul class="work__text work__list">
            <li>Katia Moreira - Developer</li>
            <li>Alexis Tessier - Developer</li>
            <li>Athanassios Tohme - Designer</li>
            <li>Jonas Deprund - Designer</li>
        </ul>
        <h3 class="work__subtitle">Website</h3>
        <p class="work__link">
            <a href="http://lantern-app.com" target="_blank">lantern-app.com</a>
        </p>
    </div>
    <nav class="work-nav">
        <a class="work-nav__link work-nav__link--back" href="#">Back</a>
        <a class="work-nav__link work-nav__link--next" style="background-image: url(../images/works/jocondelab.jpg)" href="#">Next project</a>
        <!--  Use img instead of background and add opacity -->
    </nav>
</section>
