<section class="work">
    <div class="work__background" style="background-image: url(../images/works/{{ work.image }})"></div>
    <div class="work__content">
        <h1 class="work__title title-svg">
            <span class="title-svg__content">
                <svg id="title-svg" title-svg></svg>
                <span>{{ work.title }}</span>
            </span>
        </h1>
        <h2 class="work__main-subtitle {{ work.color }}">{{ work.subtitle }}</h2>
        <div class="work__text work__description">
            <div class="work-description__content">
                <div class="work__description--left">
                    <p>{{ work.introduction }}</p>
                </div>
                <div class="work__description--right">
                    <div class="work-description__column">
                        <h3 class="work-description__subtitle">Date</h3>
                        <p>2015</p>
                    </div>
                    <div class="work-description__column">
                        <h3 class="work-description__subtitle">Context</h3>
                        <p>8 months project at Gobelins</p>
                    </div>
                    <div class="work-description__column">
                        <h3 class="work-description__subtitle">Role</h3>
                        <p>iOS Developer</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
<!--         <div class="work__video">
            <iframe src="{{ work.video | trustAsResourceUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->
        <div class="work__video">
            <video autoplay loop>
                <source src="../videos/lantern/covers.mp4" type="video/mp4">
            </video>
        </div>
        <h3 class="work__subtitle">Purpose of the project</h3>
        <p class="work__text work__paragraph">
            {{ work.purpose }}
        </p>
        <div class="work__showcase">
            <img src="../images/works/lantern-showcase1.jpg" alt="">
        </div>
        <h3 class="work__subtitle">Technologies</h3>
        <ul class="work__text work__list">
            <li ng-repeat="techno in work.technologies">
                {{ techno }}
            </li>
        </ul>
        <h3 class="work__subtitle">Website</h3>
        <p class="work__link">
            <a href="{{ work.website.url }}" target="_blank">{{ work.website.title }}</a>
        </p>
    </div>
    <nav class="work-nav">
        <a class="work-nav__link work-nav__link--back" href="#/works">Back</a>
        <a class="work-nav__link work-nav__link--next" href="#/works/{{ work.next }}">
            <img class="work-nav__background" src="../images/works/jocondelab.jpg" alt="">
            <span class="work-nav__text">Next project</span>
        </a>
        <!--  Use img instead of background and add opacity -->
    </nav>
</section>
