<!-- Use img instead of background and change src attribute -->
<section class="full-screen works">
    <ng-include src="'templates/_menu.html'"></ng-include>
    <div class="full-screen works__container">
        <img src="../images/works/{{ activeBackground }}" alt="" class="works__background full-img">
        <div class="works__overlay full-screen"></div>
        <ul class="works__items">
            <li ng-repeat="(identifier, work) in works">
                <a ng-href="#/works/{{ identifier }}" ng-mouseover="changeBackground(identifier)" class="works__link title-svg" ng-class="{'works__link--active': work.visible}">
                    <h2 class="title-svg__content works__title">
                        {{ work.title }}
                        <svg ng-attr-id="{{ 'title-svg-'+identifier }}" data-identifier="{{ $loop }}" title-svg></svg>
                    </h2>
                    <span class="works__description {{ work.color }}">{{ work.subtitle }}</span>
                </a>
            </li>
        </ul>
    </div>
</section>
