@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";

a {
    text-decoration: none;
}

.full-screen {
    min-width : 100%;
    height    : 100%;
    min-height: 100%;

    position: fixed;
    top     : 0;
    left    : 0;
}

/***********************
*        HOME          *
************************/

section.home {
    background-color: #f0f1f5;
}

.skew {
    width : 100%;
    height: 100%;

    // position: absolute;
    // top: 50%;

    background-color: #FFF;
    overflow: hidden;

    // @include transform(skewY(-25deg) translateY(-50%));
    -webkit-clip-path: polygon(0% 65%, 0% 100%, 35% 100%, 100% 35%, 100% 0%, 65% 0%);
}

#home-svg {
    // @include transform(skewY(25deg));
}

/* ------ LINKS ------ */

.home-link {
    position: relative;
    display: inline-block;

    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        border-bottom: solid #FFF 4px;

        position: absolute;
        bottom: -6px;
        left: 0;
    }
}

.home-link__project {
    position: absolute;
    top: 100px;
    left: 100px;
}

.home-link__about {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

/* ------ TEXTS ------ */

.home-title {
    width: 100%;
    margin-top: -20px;
    position: absolute;
    top: 50%;

    color: $grey-color;
    text-align: center;

    @include transform(translateY(-50%));
}

.home-title__hello {
    font-family: 'wolf', Arial, sans-serif;
    color: $red-color;
    font-size: 160px;
}
.home-title__presentation {
    font-family: 'jennasue', Arial, sans-serif;
    font-size: 60px;
}
.home-title__name {
    font-family: 'sunn', Arial, sans-serif;
    font-size: 88px;
}
.home-title__job {
    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 39px;
    text-transform: uppercase;
}


/***********************
*        WORKS         *
************************/

.works__container {
    position: relative;
    z-index: 200;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
}

.works__background {
    background-position: center;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.works__items {
    display: inline-block;
    position: absolute;
    top: 50%;

    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 60px;
    text-align: center;

    @include transform(translateY(-50%) translateX(-50%));
}

.works__items li {
    padding-top: 20px;

    &:first-child {
        padding-top: 0;
    }
}

.works__items a {
    color: $grey-color;
}

.works__link {
    position: relative;
    @include transition(color 0.5s);
}

.works__link:hover {
    color: #1e1a1b;
}

.works__link::before {
    content: '';
    position: absolute;
    height: 36px;
    width: 150px;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -75px;
    z-index: -1;
    background: #F9F9F9;

    @include transform(rotate3d(0,0,1,-45deg) scale3d(0,1,1));
    @include transition(transform 0.4s);
}

.works__link:hover::before, .works__link--active::before {
    @include transform(rotate3d(0,0,1,-45deg) scale3d(1,1,1));
}

.works__link span {
    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    right: 15px;
    color: #e53369;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translate3d(-10px,-10px,0);
    transform: translate3d(-10px,-10px,0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.works__link:hover span, .works__link--active span {
    opacity: 1;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

