@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "susy";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";


$susy: (
    columns: 12,
    gutters: 1/4,
);

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.full-screen {
    min-width : 100%;
    height    : 100%;
    min-height: 100%;

    position: fixed;
    top     : 0;
    left    : 0;
}

.title-svg {
    .title-svg__content {
        position: relative;
    }

    svg {
        position: absolute;
        top: 0;
        left: -10px;

        overflow: visible;
    }
}

.full-img {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;

    @include transform(translateX(-50%) translateY(-50%));
}

/***********************
*         MENU         *
************************/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;

    // background-color: $red-color;
}

/* ------ BUTTON ------ */

.menu__button {
    display: inline-block;
    position: absolute;
    z-index: 300;
    width: 20px;
    height: 20px;
    margin: 20px 0 0 20px;
    border: none;
    outline: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
}
.menu__button--middle {
    display: inline-block;
    width: 20px;
    height: 2px;
    vertical-align: middle;
    background-color: #FFF;

    @include transition(background 0s 0.3s);
}
.menu__button::before, .menu__button::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #FFF;

    @include transition-duration(0.3s, 0.3s);
    @include transition-delay(0.3s, 0s);
}
.menu__button::before {
    position: absolute;
    top: 4px;

    @include transition-property(top, transform);
}
.menu__button::after {
    position: absolute;
    bottom: 0px;

    @include transition-property(bottom, transform);
}

.menu--is-opened .menu__button--middle {
    background: none;
}
.menu--is-opened .menu__button::before {
    top: 11px;
    @include transform(rotate(45deg));
}
.menu--is-opened .menu__button::after {
    bottom: 7px;
    @include transform(rotate(-45deg));
}
.menu--is-opened .menu__button {
    &::before, &::after {
        @include transition-delay(0s, 0.3s);
    }
}


/* ------ CONTENT ------ */

.menu__content {
    position: absolute;
    top: 0;
    left: -300px;

    width: 390px;
    height: 600px;
    padding: 70px 0 0 70px;

    background: url(../images/background-menu.png) no-repeat;

    @include transition(left 0.5s ease-out);
}

.menu-content__item {
    padding-bottom: 20px;
    text-align: left;
}
.menu-content__link {
    color: #FFF;
    font-size: 21px;
    font-family: 'yanone-light', Arial, sans-serif;
    line-height: 30px;
}
.menu-content__submenu {
    padding-left: 15px;
}

.menu--is-opened .menu__content {
    left: 0;
}

/***********************
*         HOME         *
************************/

section.home {
    background-color: $lighter-grey-color;
}

.skew {
    width : 100%;
    height: 100%;

    background-color: #FFF;
    overflow: hidden;

    -webkit-clip-path: polygon(0% 65%, 0% 100%, 35% 100%, 100% 35%, 100% 0%, 65% 0%);
}

/* ------ LINKS ------ */

.home-link {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: none;
    outline: none;

    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
    background-color: $red-color;

    &:hover {
        color: $red-color;
        background-color: #FFF;
    }

    &::after {
        content: '';
        display: inline-block;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: solid $red-color 2px;

        position: absolute;
        top: 0;
        left: 0;

        @include transition(0.4s ease-out all);
    }
}

.home-link--clicked::after {
    opacity: 0;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    position: absolute;
    top: -8px;
    left: -8px;
}

.home-link__project {
    position: absolute;
    top: 100px;
    left: 100px;
}

.home-link__about {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

/* ------ TEXTS ------ */

.home-title {
    width: 100%;
    margin-top: -20px;
    position: absolute;
    top: 50%;

    color: $grey-color;
    text-align: center;

    @include transform(translateY(-50%));
}

.home-title__hello {
    font-family: 'wolf', Arial, sans-serif;
    color: $red-color;
    font-size: 160px;
}
.home-title__presentation {
    font-family: 'jennasue', Arial, sans-serif;
    font-size: 60px;
}
.home-title__name {
    font-family: 'sunn', Arial, sans-serif;
    font-size: 88px;
}
.home-title__job {
    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 39px;
    text-transform: uppercase;
}


/***********************
*        WORKS         *
************************/

.works__container {
    position: relative;
    z-index: 200;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
}

.works__background {
    opacity: 1;
    // @include transition(opacity 0.3s linear);
}

.works__overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

.works__items {
    width: 35%;
    display: inline-block;
    position: absolute;
    top: 50%;

    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 60px;
    text-align: center;

    @include transform(translateY(-50%) translateX(-50%));
}

.works__items li {
    padding-top: 20px;

    &:first-child {
        padding-top: 0;
    }
}

.works__title {
    display: inline-block;
}

.works__link {
    display: inline-block;
    width: 100%;
    position: relative;

    color: $grey-color;
}

.works__link svg {
    top: 10px;

    opacity: 0;

    @include transition(opacity 0.3s ease-out, top 0.3s ease-out);
}
.works__link--active svg {
    top: 0;
    opacity: 1;
}

.works__description {
    position: absolute;
    bottom: 0;
    left: 50%;

    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 20px;
    opacity: 0;

    @include transform(translate3d(-50%, -10px, 0));
    @include transition(transform 0.5s, opacity 0.5s);
}

.works__link:hover .works__description, .works__link--active .works__description {
    opacity: 1;
    @include transform(translate3d(-50%, 15px, 0));
}

/***********************
*         WORK         *
************************/

/* -------- TEXTS ------- */

.work__title {
    // padding: 0 0 5px 0;
    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    color: $grey-color;
}

.work__main-subtitle {
    text-align: center;
    font-family: 'yanone-light', Arial, sans-serif;
    font-size: 20px;
}

.work__subtitle {
    padding: 40px 0 15px 0;
    font-family: 'wigrum', Arial, sans-serif;
    font-size: 35px;
    color: $red-color;
}

.work__text {
    line-height: 28px;
    margin: 0 auto;
    font-size: 16px;
}

/* -------- BLOCKS ------- */


.work__background {
    height: 80vh;
    background-attachment: fixed;
    background-position: center;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.work__content {
    padding: 50px 0;
    width: 100%;

    font-family: 'Open Sans', Arial, sans-serif;
}

.work__section {
    position: relative;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto 80px auto;
    font-size: 0;
}

/* -------- DESCRIPTION ------- */

.work__description {
    margin: 40px 0 70px 0;
    padding: 40px 0;
    line-height: 25px;
    color: #FFF;
    background-color: $red-color;
}

.work-description__content {
    max-width: 600px;
    margin: 0 auto;
    font-size: 0;
}
.work__description--left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-right: 10%;
    font-size: 16px;
}
.work__description--right {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    font-size: 16px;
}

.work-description__subtitle {
    padding-top: 5px;
    color: $grey-color;
    font-weight: bold;
}


/* -------- CONTENT ------- */

.work__content-text {
    width: 40%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.work__content-text--left {
    margin-right: 10%;
}
.work__content-text--right {
    margin-left: 10%;
}


/* -------- MEDIAS ------- */

.work__img {
    width: 50%;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    img {
        max-width: 100%;
    }
}

.work__content-video {
    display: inline-block;
    width: 50%;
    text-align: center;
}
.work__video {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.work__video--ipad-portrait {
    width: 397px;
    height: 571px;
    background-image: url(../images/ipad-air-portrait.png);
    background-position: top;

    video {
        max-width: calc(100% - 52px);
        margin-top: 52px;
        border: solid #888 1px;
    }
}
.work__video--ipad-landscape {
    width: 450px;
    height: 313px;
    background-image: url(../images/ipad-air-landscape.png);
    background-position: center;

    video {
        max-width: calc(100% - 86px);
        margin-top: 15px;
        border: solid #888 1px;
    }
}
.work__video--iphone-portrait  {
    width: 290px;
    height: 619px;
    background-image: url(../images/iphone-portrait.png);

    video {
        max-width: calc(100% - 34px);
        margin-top: 71px;
        border: solid #888 1px;
    }
}

.work__link {
    margin: 70px 0 20px 0;
    text-align: center;

    a {
        padding: 15px;
        display: inline-block;
        color: #FFF;
        background-color: $red-color;
    }
}

/* -------- NAV ------- */

.work-nav {
    font-size: 0;
}

.work-nav__link {
    display: inline-block;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.work-nav__background {
    opacity: 0.5;
}

.work-nav__text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.work-nav__link--back {
    width: 35%;
    background-color: $beige-color;
}
.work-nav__link--next {
    width: 65%;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    background-color: $grey-color;
    background-position: center;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/***********************
*         ABOUT        *
************************/

.about-text {
    width: 80%;
    max-width: 500px;
    margin: 8% auto 0 auto;
    text-align: center;
}

.about-text__paragraph {
    padding-top: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 20px;
}

.about-text__link {
    color: $red-color;
    text-decoration: underline;
}

.about-text__links {
    padding-top: 30px;
}

/************************/
.red {
    color: $red-color;
}
.blue {
    color: $blue-color;
}
.yellow {
    color: $yellow-color;
}







body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
  opacity:0
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $lighter-grey-color;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
}
